.App {
    height: 500px;
    padding-top: 100px;
    text-align: center; 
    background: skyblue;
}

button {
    width: 100px;
    height: 30px;
    margin: 10px 0 0 10px;
    color: white;
    border: none;
    background: gray;
    cursor: pointer;
}